<div class="container" style="max-width: 400px; margin: auto">

  <form #form="ngForm" autocomplete="off">
    <div class="ui-g ui-fluid">

      <div class="ui-g-12">
        <h1>Login</h1>
      </div>

      <div class="ui-g-12">
        <input pInputText type="email" name="user" placeholder="E-mail"
          ngModel required #user>
      </div>

      <div class="ui-g-12">
        <input pInputText type="password" name="password" placeholder="Senha"
          ngModel required #password>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Login" [disabled]="!form.valid"
          (click)="login(user.value, password.value); password.value = '';"></button>
      </div>

    </div>
  </form>

</div>
