<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="showingMenu = !showingMenu"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!showingMenu">
    <li class="navbar-user">{{ auth.jwtPayload?.user_name }}</li>
    <li class="navbar-menuitem" routerLinkActive="active"
      *ngIf="auth.hasAuthority('ROLE_SEARCH_JOURNALENTRY')"><a routerLink="/dashboard">Dashboard</a></li>
    <li class="navbar-menuitem" routerLinkActive="active"
      *ngIf="auth.hasAuthority('ROLE_SEARCH_JOURNALENTRY')"><a routerLink="/journalentries">Lançamentos</a></li>
    <li class="navbar-menuitem" routerLinkActive="active"
      *ngIf="auth.hasAuthority('ROLE_SEARCH_PERSON')"><a routerLink="/people">Pessoas</a></li>
    <li class="navbar-menuitem" routerLinkActive="active"
      *ngIf="auth.hasAuthority('ROLE_SEARCH_JOURNALENTRY')"><a routerLink="/reports/journalentries">Relatório</a></li>
    <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
  </ul>
</nav>
