/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

a.ui-button:hover {
  background-color: #005b9f;
  color: white!important;
}

a, button {
  margin-right: .25em;
}

label {
  font-weight: bold;
}

.ui-dropdown-filter-container {
  width: 100%;
}

@media(min-widtth: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.col-amount {
  width: 120px;
  text-align: right;
}

.col-amount-header {
  width: 120px;
}

.col-date {
  width: 120px;
  text-align: center;
}

.col-date-header {
  width: 120px;
}

.col-actions {
  width: 100px;
  text-align: center;
}

.col-actions-header {
  width: 100px;
}
.col-actions .ui-button {
  margin: 1px;
}

.col-state {
  width: 180px;
}

.col-state-header {
  width: 180px;
}

.col-status {
  width: 90px;
  text-align: center;
}

.col-status-header {
  width: 90px;
}

.label-spaced {
  margin: 6px;
}

.register-actions .ui-button {
  margin-right: 5px;
}

.report-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
